.orange {
  color: orange;
}
.profile {
  position: relative;
  width: 300px;
  text-align: center;
  padding: 1em;
  background-color: #ebebeb;
  border-radius: 20px;
  margin-bottom: 1rem;
  box-shadow: 12px 15px 23px -4px rgba(153,153,153,0.87);
  -webkit-box-shadow: 12px 15px 23px -4px rgba(153,153,153,0.87);
  -moz-box-shadow: 12px 15px 23px -4px rgba(153,153,153,0.87);
}

.photo {
  width: 200px;
  height: 200px;
  border-radius: 100%;
}
 
.new {
  position: absolute;
  background-color: aquamarine;
  left: 230px;
  top: 30px;
  border-radius: 0.5rem;
  padding: 0.3rem;
  font-weight: bold;
  text-transform: uppercase;
}